@{
    ViewBag.Title = "AcceptTest";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model AsiaLabv1.Models.PatientModel
@section Banner
{
    <div class="banner">

        <h2>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Accept Test</span>
        </h2>
    </div>
}

@*---------Start Side Navigation Menu-----------*@

@section NavMenu
{
    <li>
        <a href="@Url.Action("ReceptionistDashboard","Main")" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboard</span> </a>
    </li>



    <li><a href="@Url.Action("RegisterPatient", "Reciptionist" )" class=" hvr-bounce-to-right"><i class="fa fa-desktop nav_icon"></i>Accept Test</a></li>
    <li><a href="@Url.Action("PrintReport", "Reciptionist")" class=" hvr-bounce-to-right"><i class="fa fa-file-text-o nav_icon"></i>Print Report</a></li>




}
@*------------ End Side Navigation Menu----------*@


@*------------- Start Main Content Code-------------*@

<div class="grid-form">

    <!----->
    <!---->
    <div class="grid-form1">
        <h3>Accept Test Form</h3>
        <div class="tab-content">

            <div class="tab-pane active" id="horizontal-form">
               
                
                <form class="form-horizontal">

                    <div class="form-group">
                        <div class="col-sm-8">
                            <h4>Patient Information</h4>
                        </div>

                    </div>
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control1" })
                        </div>
                        <!--<div class="col-sm-2">
                            <p class="help-block">Your help text!</p>
                        </div>-->
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GenderId, new { @class = "col-sm-2 control-label" })

                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.GenderId, Model.Genders, new { @class = "form-control1" })


                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DateofBirth, new { @class = "col-sm-2 control-label" })

                        <div class="col-sm-8">
                            <input type="date" id="DateOfBirth" class="form-control1" />
                        </div>
                        <!--<div class="col-sm-2">
                            <p class="help-block">Your help text!</p>
                        </div>-->
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-sm-2 control-label" })

                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control1",type="tel" })
                        </div>
                        <!--<div class="col-sm-2">
                            <p class="help-block">Your help text!</p>
                        </div>-->
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control1",type="email" })
                        </div>
                      
                    </div>

                      <div class="form-group">
                        @Html.LabelFor(model => model.Discount, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.Discount, new { @class = "form-control1" })
                        </div>
                        <!--<div class="col-sm-2">
                            <p class="help-block">Your help text!</p>
                        </div>-->
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PaidAmount, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.PaidAmount, new { @class = "form-control1" })
                        </div>
                        <!--<div class="col-sm-2">
                            <p class="help-block">Your help text!</p>
                        </div>-->
                    </div>
                     <div class="form-group">
                        @Html.LabelFor(model => model.PayId, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.PayId, Model.PayTypes, new { @class = "form-control1" })
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ReferredId, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.ReferredId, Model.ReferredDoctors, new { @class = "form-control1" })
                        </div>

                    </div>
                    <br />
                    <div class="horz-grid">
                        <div class="grid-hor">
                            <h4 id="grid-example-mixed-complete">Selected Tests</h4>

                        </div>
                        <!----> <div style="width:1400px" class="row show-grid">
                            <div class="col-md-1" style="text-align:center">SR.no</div>
                            <div class="col-xs-6 col-sm-4" style="text-align:center">Test Name</div>
                            <div class="col-md-2" style="text-align:center">Rate</div>
                            <div class="col-md-1" style="text-align:center">Remove</div>
                        </div>

                        <div id="SelectedTests">

                        </div>

                    </div>
                    <div class="form-group">

                        <div class="col-sm-8" style="margin-left:26%">
                            <input type="button" value="Submit" class="btn btn-danger" onclick="RegisterPatient()" />

                        </div>

                    </div>
                    <br />
                    <div class="form-group">
                        <div class="col-sm-8">
                            <h4>Select Tests</h4>
                        </div>

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DeptId, new { @class = "col-sm-2 control-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.DeptId, Model.Departments, new { @class = "form-control1" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selector1" class="col-sm-2 control-label">Select SubCategory</label>
                        <div class="col-sm-8">
                            <select name="selector1" id="subcategories" class="form-control1"></select>
                        </div>
                    </div>

                    <div class="horz-grid">
                        <div class="grid-hor">
                            <h4 id="grid-example-mixed-complete">Tests List</h4>

                        </div>
                        <!----> <div style="width:1400px" class="row show-grid">
                            <div class="col-md-1" style="text-align:center">SR.no</div>
                            <div class="col-xs-6 col-sm-4" style="text-align:center">Test Name</div>
                            <div class="col-md-2" style="text-align:center">Rate</div>
                            <div class="col-md-1" style="text-align:center">Add</div>

                        </div>
                        <div id="Tests" style="width:1400px">


                        </div>

                    </div>
                   

                    @*<div class="col-sm-2 login-do" style="margin-left:40%">
                            <label class="hvr-shutter-in-horizontal login-sub">
                                <input type="button" value="Submit" onclick="RegisterPatient()" />
                            </label>
                        </div>*@
                    <script type="text/javascript">

                        var PatientTests = [];
                        var SelectedPatientTests = [];
                        var tempPatientTests = [];
                        var OriginalListOfTests = [];

                        $('#DeptId').change(function () {
                            var deptId = $('#DeptId').val();
                            getSubCategory(deptId);
                        });

                        $('#subcategories').change(function () {
                            var SubCatId = $('#subcategories').val();
                            getTests(SubCatId);
                        });


                        function RegisterPatient() {
                            var Name = $('#Name').val();
                            var GenderId = $('#GenderId').val();
                            var DateOfBirth = $('#DateOfBirth').val();
                            var PhoneNumber = $('#PhoneNumber').val();
                            var Email = $('#Email').val();

                            var Discount = $('#Discount').val();
                            var PaidAmount = $('#PaidAmount').val();
                            var PayId = $('#PayId').val();
                                var ReferredId = $('#ReferredId').val();
                                if (ReferredId == undefined || ReferredId == "") {
                                    ReferredId = -1;
                                }
                                if(Discount==undefiend || Discount==""){
                                    Discount = 0;
                                }
                                if (PaidAmount!="" && Name != "" && GenderId != "" && DateOfBirth != "" && PhoneNumber != "" && Email != "" && SelectedPatientTests.length > 0) {

                                    var patientObj = {
                                        Id: 0,
                                        Name: $('#Name').val(),
                                        GenderId: parseInt($('#GenderId').val()),
                                        DateofBirth: $('#DateOfBirth').val(),
                                        PhoneNumber: $('#PhoneNumber').val(),
                                        Email: $('#Email').val(),
                                        BranchId: -1,
                                        ReferredId: ReferredId,
                                        Discount: Discount,
                                        PaidAmount: PaidAmount,
                                        PayId: PayId,
                                        PatientTestIds: SelectedPatientTests
                                    };

                                    $.ajax({
                                        type: 'POST',
                                        url: "@Url.Action("AddPatient","Reciptionist")",
                                        data: JSON.stringify(patientObj),
                                        contentType: "application/json",
                                        dataType: 'json',
                                        success: function (data) {
                                            alert(data);
                                        }
                                    });
                                } else {
                                    alert("Please select all required fields");
                                }
                            }


                        function getTests(SubCatId) {
                            $.ajax({
                                type: 'POST',
                                url: "@Url.Action("GetTests","Reciptionist")",
                                data: { Id: SubCatId },
                                dataType: "json",
                                success: function (data) {
                                    $('#Tests').empty();
                                    for (var i = 0; i < data.length; i++) {
                                        $('#Tests').append("<div style='width:1400px' class='row show-grid'> <div class='col-md-1'>" + data[i].Id + "</div> <div class='col-xs-6 col-sm-4'>" + data[i].TestSubcategoryName + "</div><div class='col-md-2'>Rs." + data[i].Rate + "/=</div><div class='col-md-1'> &nbsp; <input type='checkbox' onclick='addTest(" + data[i].Id + ")'></div></div>");

                                        PatientTests[data[i].Id] = {
                                            TestName: data[i].TestSubcategoryName,
                                            Rate: data[i].Rate
                                        };
                                        OriginalListOfTests[data[i].Id] = PatientTests[data[i].Id];
                                    }
                                }
                            });
                        }



                        function removeSelectedTest(TestId) {
                            $('#SelectedTests').empty();
                            $('#Tests').empty();
                            PatientTests[TestId] = tempPatientTests[TestId];

                            delete tempPatientTests[TestId];
                            for (var i = 0; i < SelectedPatientTests.length; i++) {
                                if (SelectedPatientTests[i] == TestId) {
                                    SelectedPatientTests.splice(i, 1);
                                    break;
                                }
                            }

                            for (var i = 0; i < SelectedPatientTests.length; i++) {
                                $('#SelectedTests').append("<div style='width:1400px' class='row show-grid'> <div class='col-md-1'>" + SelectedPatientTests[i] + "</div> <div class='col-xs-6 col-sm-4'>" + OriginalListOfTests[SelectedPatientTests[i]].TestName + "</div><div class='col-md-2'>Rs." + OriginalListOfTests[SelectedPatientTests[i]].Rate + "/=</div><div class='col-md-1'> &nbsp;<img src='../../images/rem_btn.png' style='margin-left:10px'  width='25' height='22' onclick='removeSelectedTest(" + SelectedPatientTests[i] + ")' /></div></div>");
                            }

                            for (var key in PatientTests) {
                                $('#Tests').append("<div style='width:1400px' class='row show-grid'> <div class='col-md-1'>" + key + "</div> <div class='col-xs-6 col-sm-4'>" + PatientTests[key].TestName + "</div><div class='col-md-2'>Rs." + PatientTests[key].Rate + "/=</div><div class='col-md-1'> &nbsp;<input type='checkbox' onclick='addTest(" + key + ")'></div></div>");
                            }
                        }

                        function addTest(Id) {
                            $('#SelectedTests').append("<div style='width:1400px' class='row show-grid'> <div class='col-md-1'>" + Id + "</div> <div class='col-xs-6 col-sm-4'>" + PatientTests[Id].TestName + "</div><div class='col-md-2'>Rs." + PatientTests[Id].Rate + "/=</div><div class='col-md-1'> &nbsp;<img src='../../images/rem_btn.png' style='margin-left:10px' width='25' height='22' onclick='removeSelectedTest(" + Id + ")' /></div></div>");

                            tempPatientTests[Id] = {
                                TestName: PatientTests[Id].TestName,
                                Rate: PatientTests[Id].Rate
                            };
                            $('#Tests').empty();
                            delete PatientTests[Id];
                            for (var key in PatientTests) {
                                $('#Tests').append("<div style='width:1400px' class='row show-grid'> <div class='col-md-1'>" + PatientTests[key].Id + "</div> <div class='col-xs-6 col-sm-4'>" + PatientTests[key].TestName + "</div><div class='col-md-2'>Rs." + PatientTests[key].Rate + "/=</div><div class='col-md-1'> &nbsp;<input type='checkbox' onclick='addTest(" + key + ")'></div></div>");
                            }
                            SelectedPatientTests.push(Id);
                        }

                        function getSubCategory(deptId) {

                            $.ajax({
                                type: 'POST',
                                url: "@Url.Action("GetSubCategory","Reciptionist")",
                                data: { Id: deptId },
                                dataType: "json",
                                success: function (data) {

                                    $('#subcategories').empty();
                                    for (var i = 0; i < data.length; i++) {
                                        $('#subcategories').append('<option value="' + data[i].Id + '" >' + data[i].Name + '</option>');
                                    }
                                }
                            });
                        }



                    </script>

                    <div class="clearfix"> </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br /><br /><br />


<!--//grid-->
<!---->
<!--//content-->
<!---->
@*------------- End Main Content Code-------------*@